.container-transaction {
    /* border: 0.1rem solid rgba(177, 176, 176, 0.671); */
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.month-transaction {
    color: rgb(121, 120, 120);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.1rem solid rgb(179, 179, 179);
    padding: 1rem;
    box-sizing: border-box;
}

.history-bills {
    width: 100%;
}
