.bill-details {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 0.5rem;
    color: rgba(0, 0, 0, 0.678);
}

.bill-details span:first-of-type {
    align-content: center;
}

.info-bill span:last-of-type {
}

.info-bill {
    display: flex;
    flex-direction: column;
}


.payed {
    color: rgba(5, 167, 26, 0.678);
}