<div class="container-info">
    <div class="first-part">
        <span>Saldo atual</span>
        <span>{{moneyValue() | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</span>
    </div>
    <div class="container-inAndOut">
        <app-in-and-out value={{currentInsertedValue()}} icon="south_east" type="Entradas" typeClass="entrada" (click)="addMoney()"></app-in-and-out>
        <app-in-and-out value={{currentOutputValue()}} icon="arrow_outward" type="Saídas" typeClass="saida"></app-in-and-out>
    </div>
</div>