.container-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0.5rem 0 calc(0.5rem + env(safe-area-inset-bottom));

    background: #fff;
    box-shadow: 0 -2px 10px rgba(0,0,0,.1);
    z-index: 1000;
}

.material-icons {
    color: rgb(98, 103, 107);
    font-size: 3rem
}

.container-footer div {
    display: flex;
    flex-direction: column;
}

.description {
    font-size: 1rem;
    color: rgb(98, 103, 107);
    text-align: center;
}

.add {
    background: linear-gradient(135deg, #7c9ba5 0%, #b8e2ca 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
